Options -Indexes
php_flag display_errors Off
php_value upload_max_filesize 5M
php_value post_max_size 6M

# Protect includes
<FilesMatch "\.(sql|md)$">
  Order allow,deny
  Deny from all
</FilesMatch>
